body{
    margin: 0px;
    font-family: calibri;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;
}

.time{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.date{
    font-size: 2rem;
    font-weight: bold;
}